#top-signup-btn, #signout-btn {
    margin-top: 30px;
    margin-left:30px;
}

#welcome-title, #hello-msg {
    text-align: center;
}

#signin-box {
    width: 256px;
    margin: 10px auto;
}

#signin-btn, #signup-btn {
    display: block;
    margin: 0 auto;
}

#signup-box {
    display: none;
}

#file-list {
    width: 85%;
    margin: 0 auto;
}

#folderName, .custom-file-label {
    width: 350px;
}

.custom-file {
    margin-bottom: .5rem;
}

.fa-folder {
    margin-right: 10px;
}

.fa-file {
    margin-right: 14px;
}

.enter-btn, .delete-btn, .view-btn, .send-btn {
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1;
}

#back-btn {
    line-height: 1;
}